<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <title>All users</title>
</head>
<body>

<table border="1">
    <tr>
        <th>id</th>
        <th>name</th>
        <th>surname</th>
        <th>age</th>
    </tr>

        <tr th:each="user : ${users}">
            <td th:utext="${user.getId}">id</td>
            <td>
            <a th:href="@{/users/{id}(id=${user.getId()})}" th:utext="${user.getName}">name</a>
            </td>
            <td th:utext="${user.getSurname}">surname</td>
            <td th:utext="${user.getAge}">age</td>
        </tr>

</table>


<br/>
<hr/>

<form th:method="GET" th:action="@{/users/new}">
    <input type="submit" value="Create new user"/>
</form>

<!--<a href="">Create new person</a>-->

</body>
</html>