<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <title>All users</title>
</head>
<body>

<table border="1">
    <tr>
        <th>id</th>
        <th>Имя</th>
        <th>Фамилия</th>
        <th>Возраст</th>
        <th>email</th>
    </tr>

    <tr th:each="user : ${users}">
        <td th:utext="${user.getId}">id</td>
        <td>
            <a th:href="@{/admin/users/{id}(id=${user.getId()})}" th:utext="${user.getName}">name</a>
        </td>
        <td th:utext="${user.getSurname}">surname</td>
        <td th:utext="${user.getAge}">age</td>
        <td th:utext="${user.getEmail}">email</td>
        <td>
            <form th:method="GET" th:action="@{/admin/users/{id}/edit(id=${user.getId()})}">
                <input type="submit" value="Изменить"/>
            </form>
            <form th:method="DELETE" th:action="@{/admin/users/{id}(id=${user.getId()})}">
                <input type="submit" value="Удалить"/>
            </form>
        </td>
    </tr>

</table>


<br/>
<hr/>

<form th:method="GET" th:action="@{/admin/new}">
    <input type="submit" value="Создать нового юзера"/>
</form>

<form th:method="GET" th:action="@{/logout}">
    <input type="submit" value="Выйти"/>
</form>

</body>
</html>