<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <title>User</title>
</head>
<body>
<p th:text="ID: " th:text="${user.getId()}">VALUE</p>
<p th:text="Имя: " th:text="${user.getName()}">VALUE</p>
<p th:text="Фамилия: " th:text="${user.getSurname()}">VALUE</p>
<p th:text="Возраст: " th:text="${user.getAge()}">VALUE</p>
<p th:text="Эл. почта: " th:text="${user.getEmail()}">VALUE</p>

<form th:method="GET" th:action="@{/users/{id}/edit(id=${user.getId()})}">
    <input type="submit" value="Изменить"/>
</form>
<form th:method="DELETE" th:action="@{/users/{id}(id=${user.getId()})}">
    <input type="submit" value="Удалить"/>
</form>

</body>
</html>