<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <title>Пользователь th:text="${user.getName()}"</title>
</head>
<body>
<label for="ID"><b>ID: </b></label>
<a th:text="${user.getId()}" id="ID">VALUE</a>
<br/>
<label for="name"><b>Имя: </b></label>
<a th:text="${user.getName()}" id="name">VALUE</a>
<br/>
<label for="surname"><b>Фамилия: </b></label>
<a th:text="${user.getSurname()}" id="surname">VALUE</a>
<br/>
<label for="age"><b>Возраст: </b></label>
<a th:text="${user.getAge()}" id="age">VALUE</a>
<br/>
<label for="email"><b>Email: </b></label>
<a th:text="${user.getEmail()}" id="email">VALUE</a>
<br/>
<!--<label for="password">Пароль: </label>-->
<!--<a th:text="${user.getPassword()}" id="password">VALUE</a>-->
<!--<br/>-->
<label for="role"><b>Роль: </b></label>
<span th:each="role : ${user.roles}" id="role">
    <span th:text="${role.getFormattedRoleName}">roles</span>
</span>


<!--<form th:method="GET" th:action="@{/admin/users/{id}/edit(id=${user.getId()})}">-->
<!--    <span><input type="submit" value="Изменить"/></span>-->
<!--</form>-->
<!--<br/>-->
<!--<br/>-->
<!--<form th:method="DELETE" th:action="@{/admin/users/{id}(id=${user.getId()})}">-->
<!--    <span><input type="submit" value="Удалить"/></span>-->
<!--</form>-->
<br/>
<br/>
<form th:method="GET" th:action="@{/logout}">
    <input type="submit" value="Выйти"/>
</form>
</body>
</html>